body {
    background-color: #f2eeec !important;
}

h1 {
    font-family: 'Rubik Mono One', sans-serif;
    color:#1F4762;
}

h2, h4 {
    font-family: 'Rubik Mono One', sans-serif;
    color:#FDA300;
}

a {
    text-decoration: none !important;
}

p, label, li, ul {
    color: #182833;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.text-align-center {
    text-align: center;
}

.container-sizing {
    padding: 8rem 10rem;
}

.rubik-font {
    font-family: 'Rubik Mono One', sans-serif;
}

.vietnam-font {
    font-family: 'Be Vietnam Pro', sans-serif;
}

.header-container {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/colosseum.png');
    background-size: cover;
}

.about-header-container {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/petra.png');
    background-size: cover;
}

.contact-header-container {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/great-wall.png');
    background-size: cover;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-text{
    font-family: 'Be Vietnam Pro', sans-serif; 
    font-weight: 700;
    color: #f2eeec !important;
    font-size: 1.75rem;
    padding-right: 4rem !important;
}

.navbar-dark, .navbar-toggler {
    border-color: #f2eeec !important;
}

.logo-container {

}

.logo {
    font-family: 'Rubik Mono One', sans-serif;
    color: #ffc619;
    padding: 2rem;
    font-size: 2rem;
}

.home-img-text-container {

}

.home-img-text {
    font-family: 'Rubik Mono One', sans-serif;
    color: #ffc619;
    font-size: 3rem;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    margin: 0;
}

.yellow-color {
    color: #FFC619;
}

.off-white-color {
    color: #f2eeec;
}

.blue-color {
    color: #1F4762;
}

.yellow-orange-color {
    color: #FDA300;
}

.dark-blue-color {
    color: #182833;
}

.travel-header-text {
    font-size: 3.25rem;
}

.travel-text {
    font-size: 1.5rem;
    padding: .5rem 0 1rem 0;
}

.arrow-icon {
    font-size: 5rem;
    padding: 2rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.about-container {
    display: flex;
    padding: 8rem 10rem;
}

.about-img {
    height: auto;
    width: 100%;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    vertical-align: text-top;
}

.about-text-container {
    flex-basis: 50%;
    padding-right: 6rem;

}

.about-img-container {
    flex-basis: 50%;
    
}

.primary-button {
    font-family: 'Rubik Mono One', sans-serif;
    background-color: #FFC619;
    color: #182833;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.secondary-button {
    font-family: 'Rubik Mono One', sans-serif;
    background-color: #1F4762;
    color: #FDA300;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.learn-more-button {
    font-size: 1.5rem;
}

.reviews-container {
    background-color: #F5E4B5;
}

.review-header-text {
    text-align: center;
}

.review-item-container {
    display: flex;
    justify-content: space-around;
}

.review-icon {
    font-size: 3rem;
    color: #1F4762
}

.review-icon-name {
    display: flex;
    justify-content: start;
}

.review-name {
    margin: .75rem 0 .75rem 1rem;
    font-size: 1.25rem;
}

.contact-text {
    text-align: center;
    font-size: 3.5rem;
    margin: 0;
}

.footer {
    background-color: #ffc619;
    padding: 3rem 5rem 1rem 5rem;
}

.footer-content-container {
    display: flex;
    padding-bottom: 3rem;
}

.footer-logo-container {
    flex-basis: 30%;
}

.footer-link-container {
    display: flex;
    flex-basis: 70%;
    justify-content: space-evenly;
}

.footer-link-header {
    font-weight: 700;
    font-size: 1.2rem;
}

.faq-title {
    font-size: 3rem;
}

.faq-icon-container {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
}

.faq-icon {
    font-size: 8rem;
    text-align: center
}

.faq-icon-text {
    font-size: 1.6rem;
    text-align: center;
    padding-top: 2rem;
}

.faq-cont-container {
    display: flex;
    justify-content: space-around;
    background-color: #F5E4B5;
}

.contact-form {
    margin: 5rem 4rem;
    height: auto;
    background-color: #F5E4B5;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.submit-button {
    font-size: 1.5rem;
}

.deals-container {
    background-color: #F5E4B5;
}

.deals-title {
    font-size: 3rem;
    text-align: center;
}

.deals-package-container {
    display: flex;
    justify-content: space-around;
}

.package-item {
    width: 30%;
    background-color: #f2eeec;
    border-radius: 10px;
    border: solid 3px #1F4762;
    padding: 1.5rem;
}

.package-price-text {
    font-size: 3.5rem;
    font-weight: 700;
    color: #1F4762;
    text-align: center;
}

.book-now-button {
    font-size: 2.5rem;
}

.no-margin {
    margin: 0;
}

.wonders-title {
    font-size: 3rem;
    text-align: center;
}

.wonders-info-container {
    display: flex;
    justify-content: center;
}

.wonders-img-container {
    flex-basis: 40%;
}

.wonders-img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.wonders-text-right {
    flex-basis: 60%;
    padding-left: 3.5rem;
}

.wonders-text-left {
    flex-basis: 60%;
    padding-right: 3.5rem;
}

.yellow-hover:hover {
    color: #FFC619 !important;
}

.yellow-hover:focus {
    color: #FFC619 !important;
}

@media screen and (max-width: 768px) {
    .nav-text {
        font-size: 1rem;
        padding-right: 2rem !important;
    }

    .container-sizing {
        padding: 6rem 2rem;
    }

    .home-img-text {
        font-size: 1.75rem;
    }

    .arrow-icon {
        font-size: 2rem;
    }

    .footer-link-container {
        display: none;
    }

    .review-item-container {
        display: block;
    }

    .package-item {
        width: 100%;
        margin-bottom: 3rem;
    }

    .contact-text {
        font-size: 2rem;
    }

    .about-container {
        display: block;
    }

    .about-text-container {
        padding-right: 0;
        margin-bottom: 4rem;
    }

    .footer-logo-text {
        font-size: 2rem !important;
    }

    .deals-package-container {
        display: block;
    }

    .book-now-button {
        font-size: 1.75rem;
    }

    .wonders-title {
        font-size: 2rem;
    }

    .wonders-info-container {
        display: block;
    }

    .wonders-text-right {
        padding-left: 0;
    }

    .wonders-text-left {
        padding-right: 0;
    }
    
    .faq-title {
        font-size: 2rem;
    }

    .faq-icon {
        font-size: 3rem;
    }

    .faq-icon-text {
        font-size: 1rem;
    }

    .faq-cont-container {
        display: block;
        text-align: center;
    }

    .faq-travel-container {
        padding-bottom: 2.5rem;
    }

    .faq-amenities-container {
        padding-bottom: 2.5rem;
    }

    .faq-pricing-container {
        padding-bottom: 2.5rem;
    }

    .contact-form {
        margin: 0;
        padding: 1rem 1rem !important;
    }

    .contact-form-header {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 960px) {
    .container-sizing {
        padding: 6rem 3rem;
    }

    .nav-text {
        padding-right: 2rem !important;
    }

    .footer-logo-container {
        flex-basis: 25%;
    }

    .footer-logo-text {
        font-size: 1.5rem;
    }

    .package-price-text {
        font-size: 3rem;
    }

    .faq-tri-text {
        font-size: 1.75rem;
    }

    .faq-travel-container {
        padding-right: 1rem;
    }

    .faq-amenities-container {
        padding-right: 1rem;
    }

    .faq-pricing-container {
        padding-right: 1rem;
    }
}

@media screen and (max-width: 1150px) {
    .container-sizing {
        padding: 6rem 3rem;
    }

}

/* font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Rubik Mono One', sans-serif; */

/* .pad {
    padding: 2% 6%;
}

.img-size {
    height: 100%;
    width: 100%;
}

.title-pad {
    padding: 0 0.75rem;
}

.stick {
    position: fixed;
    left: 0;
    bottom:  0;
    width: 100%;

}

.main-pad {
    margin-bottom: 1.5rem;
}

.foot-pad {
    padding-left: 7%;
} */